@model Ogrenci
@{
    ViewData["Title"] = "AddStudent";
}

<h1>Öğrenci Ekleme İşlemi</h1>


<form asp-action="AddStudent" asp-controller="Student" method="post">
    <label asp-for="Ad"></label>
    <input asp-for="Ad" />
    <label>Soyad:</label>
    <input asp-for="Soyad" />
    <label>Numara</label>
    <input asp-for="Numara" />
    <input type="submit" value="Kaydet" />
</form>
